.header__logo {
  width: 176px;
  height: 52px;
  background-size: cover;
  object-fit: cover;
  background-image: url(../../../images/header-logo.svg);
}

@media screen and (max-width: 660px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}