.lead__title {
  margin: 0 auto;
  max-width: 720px;
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  font-style: normal;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 60px;
    line-height: 64px;
    max-width: 450px;
  }
}

@media screen and (max-width: 659px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}