.cover__title {
  margin: 0;
  padding: 0;
  max-width: 560px;
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  color: white;
  text-decoration: none;
  z-index: 1;
}