.place__url-heading {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  color: #aaa;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}