.intro__title {
  margin: 0;
  padding: 0 0 40px;
  max-width: 690px;
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
}

@media screen and (max-width: 1023px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 660px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    min-width: 288px;
  }
}